/*
Colors
*/
$brand-color: #502412;
$accent-color: #f2efd7;
$background-color: #e9e9e9;
$secondary-background-color: #e6e6e6;
$border-color: #444444;
$primary-text-color: #333333;
/*
Fonts
*/
$primary-font: "Roboto-Light", Tahoma;
$heading-font: "NexaRustSans-Black";
$subHeading-font: "aileron", sans-serif;
/*
Responsive font sizes
*/
$heading-size: calc(50px + 0.390625vw);
